
@media (max-width: 768px){
    main{
      flex-direction: column;
      align-items: center;
    }
    section{
      width: 100%;
    }
    aside{
      width: 100%;
      height: 300px;
      margin-top: 2%;
      
    }
 
    .saida__de__texto{
      width: auto;
      
     
    }
    .img_lupa{
      display: none;
    }
  
  }
  
  @media (max-width: 375px){
    
    
    .entrada___de__texto{
      
      height: 500px;
      
  
    }
  
    aside{
      height: 630px;
      margin: 2% 0 2% 0;
    }

    .rodape{
        position: relative;
    }
    
    
  }
  


  