@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


:root {
    --light-blue-100: #f3f5fc;
    --light-blue-200: #eff1fa;
    --light-blue-300: #e9ecf8;
    --light-blue-400: #aab2d5;
    --light-blue-500: #757fb2;
    --dark-blue-100: #609ed4;
    --dark-blue-200: #356ea9;
    --dark-blue-300: #0a3871;
    --dark-blue-400: #072b61;
    --dark-blue-500: #052051;
    --gray-100: rgba(206, 212, 218, 0.596);
    --gray-200: #adb5bd;
    --gray-400: #495057;
    --gray-500: #868e96;
    --gray-600: #343a40;
    --white-t: #FFFFFF;
    --fonte-priamaria: "Inter", sans-serif;
  }

  .header{
    margin-bottom: 1%;
  }



  textarea{
    resize: none;
    padding: 1%;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    font-family: var();
  }

.entrada___de__texto{
    width: 100%;
    height: 680px;
    

  }


.btnCriptografar, .btnDescriptografar, .btnCopia{
  width: 47%;
  padding: 24px;
  border-radius: 24px;
  font-family: var(--fonte-priamaria);
  font-size: 1rem;
  

  
}

.btnCriptografar {
border: solid 1px var(--dark-blue-500);
background-color: var(--dark-blue-500);
color: var(--white-t);
}

.btnDescriptografar {
border: solid 1px var(--dark-blue-500);
background-color: var(--cor-seg-b);
color: var(--cor-seg-t);
}
.btnCopia{
border: solid 1px var(--dark-blue-500);
background-color: var(--gray-200);
color: var(--cor-seg-d);

}
.saida{
    background-color: var(--white-t);
    border-radius: 32px;
}

.rodape{
    background-color: var(--dark-blue-500);
    color: var(--white-t);
    text-align: center;
    margin-top: 1%;
}
.rodape__a{
    text-decoration: none;
    color: var(--white-t);
}

