@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


:root {
    --light-blue-100: #f3f5fc;
    --light-blue-200: #eff1fa;
    --light-blue-300: #e9ecf8;
    --light-blue-400: #aab2d5;
    --light-blue-500: #757fb2;
    --dark-blue-100: #609ed4;
    --dark-blue-200: #356ea9;
    --dark-blue-300: #0a3871;
    --dark-blue-400: #072b61;
    --dark-blue-500: #052051;
    --gray-100: rgba(206, 212, 218, 0.596);
    --gray-200: #adb5bd;
    --gray-400: #495057;
    --gray-500: #868e96;
    --gray-600: #343a40;
    --white-t: #FFFFFF;
    --fonte-priamaria: "Inter", sans-serif;
  }
  textarea{
    resize: none;
    padding: 1%;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
  }
  header{
    width: 100%;
    
    
    
  }
  .logo{
    /*/padding: 2%;*/
    margin: 1% 0 1% 0%;
    
  }

  body {
    background: var(--light-blue-200);
    height: 100%;
  }
  
  main {
    
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    justify-content: center;
    width: 100%;
    gap: 10%;
    
  }
  section{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-evenly;
    
    
    
  }


  .entrada___de__texto{
    width: 100%;
    height: 600px;
    

  }
  .btn__group{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10%;
    

  }
  .btnCriptografar, .btnDescriptografar, .btnCopia{
    width: 47%;
    padding: 24px;
    border-radius: 24px;
    font-family: var(--fonte-priamaria);
    font-size: 1rem;
    

    
}

.btnCriptografar {
  border: solid 1px var(--dark-blue-500);
  background-color: var(--dark-blue-500);
  color: var(--white-t);
}

.btnDescriptografar {
  border: solid 1px var(--dark-blue-500);
  background-color: var(--cor-seg-b);
  color: var(--cor-seg-t);
}
.btnCopia{
  border: solid 1px var(--dark-blue-500);
  background-color: var(--gray-200);
  color: var(--cor-seg-d);
  
}

  aside{
    width: 20%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-t);
    border-radius: 32px;
    padding: 1%;
    
    
    
    
  }
  .saida__de__texto{
    width: 100%;
   
  }
  .rodape{
    
    bottom: 0;
    background-color: var(--dark-blue-500);
    display: flex;
    justify-content: center;
    padding: 0.5%;
    width: 100%;
    position: fixed;
    gap: 0.25%;
    align-items: center;
    
    
  }
  .rodape__p , .rodape__a{
    color: var(--white-t);
    font-size: 1rem;
    text-decoration: none;
    font-family: var(--fonte-priamaria);
    margin: 0.1%;
    
  }

  .git{
    color: #757fb2;
    font-size: 1.5rem;
    
  }
  .content__resposta{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
  
  }
  .img_lupa{
    width: 100%;
    
  }
  .content__resposta__h2{
    font-family: var(--fonte-priamaria);
    font-size: 1.5rem;
    font-weight: 700;

  }
  .content__resposta__p{
    font-size: 1rem;

  }



  .invisivel {
    display: none;
  }